<div *ngIf="viewMode; else editable">
    <div *ngIf="currentCrud._id">
        <h4>Crud</h4>
        <div>
            <label><strong>Category name:</strong></label> {{ currentCrud.category_name }}
        </div>
        <div>
            <label><strong>Category picture:</strong></label>
            {{ currentCrud.category_picture }}
        </div>

        <a class="badge badge-warning" routerLink="/crud/{{ currentCrud._id }}">
            Edit
        </a>
    </div>

    <div *ngIf="!currentCrud">
        <br />
        <p>Please click on a Crud...</p>
    </div>
</div>

<ng-template #editable>
    <div *ngIf="currentCrud._id" class="edit-form">
        <h4>Crud</h4>
        <form>
            <div class="form-group">
                <label for="category_name">Category name</label>
                <input type="text" class="form-control" id="category_name" [(ngModel)]="currentCrud.category_name"
                    name="category_name" />
            </div>
            <div class="form-group">
                <label for="category_picture">Category picture</label>
                <input type="text" class="form-control" id="category_picture" [(ngModel)]="currentCrud.category_picture"
                    name="category_picture" />
            </div>

        </form>
        <button class="badge badge-danger mr-2" (click)="deleteCrud()">
            Delete
        </button>

        <button type="submit" class="badge badge-success mb-2" (click)="updateCrud()">
            Update
        </button>
        <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentCrud._id">
        <br />
        <p>Cannot access this crud...</p>
    </div>
</ng-template>