<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <!-- <a href="#" class="navbar-brand">bezKoder</a> -->
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="category" class="nav-link">Category</a>
      </li>
      <li class="nav-item">
        <a routerLink="product" class="nav-link">Products</a>
      </li>
      <li class="nav-item">
        <a routerLink="add/category" class="nav-link">Add Category</a>
      </li>
      <li class="nav-item">
        <a routerLink="add/product" class="nav-link">Add Products</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>