<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by category name" [(ngModel)]="category_name" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="searchCategory_name()">
                    Search
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4>Crud List</h4>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let crud of crud; let i = index"
                [class.active]="i == currentIndex" (click)="setActiveCrud(crud, i)">
                {{ crud.category_name }}
            </li>
        </ul>

        <!-- <button class="m-3 btn btn-sm btn-danger" (click)="removeAllCrud()">
            Remove All
        </button> -->
    </div>
    <div class="col-md-6">
        <app-crud-details [viewMode]="true" [currentCrud]="currentCrud"></app-crud-details>
    </div>
</div>