<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <div class="submit-form">
            <div>
                <div class="form-group">
                    <label for="category_name">Category name</label>
                    <input type="text" class="form-control" id="category_name" formControlName="category_name"
                        [ngClass]="{ 'is-invalid': f['category_name'].invalid }" name="category_name" required />
                </div>

                <div *ngIf=" f['category_name'].errors" class="invalid-feedback">
                    <div *ngIf="f['category_name'].errors['required']">Fullname is required</div>
                </div>



                <div class="form-group">
                    <label for="category_picture">Category picture</label>
                    <input class="form-control" id="category_picture" formControlName="category_picture"
                        [ngClass]="{ 'is-invalid':f['category_picture'].invalid }" name="category_picture" required />
                </div>

                <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </div>
    </div>
</form>