<div>
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="category_name">Category name</label>
                <input type="text" class="form-control" id="category_name" required [(ngModel)]="category.category_name" name="category_name" />
            </div>

            <div class="form-group">
                <label for="category_picture">Category picture</label>
                <input class="form-control" id="category_picture" required [(ngModel)]="category.category_picture"
                    name="category_picture" />
            </div>

            <button (click)="saveCategory()" class="btn btn-success" (click)="showAdd()">Submit</button>
        </div>

        <div *ngIf="submitted">
            <h4>Category was submitted successfully!</h4>
            <button class="btn btn-success" (click)="newCategory()">Add</button>
        </div>
    </div>
</div>